@model System.Data.DataSet
@{
    ViewBag.Title = "newDeporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<h2>Bien venidos a la pagina de </h2>

<form action="/Deporte/guardar" method="post">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <label>Nuevo Deporte&nbsp;</label>
            <button onclick="location.href = '@Url.Action("Deporte","Deporte")'; return false;" class="btn btn-success">&nbsp;Rregresar</button>
        </div>
    </div>
    <br />
    <div class="col" align="center">
        <div class="form-group">
            <label>Nombre del deporte</label>
            <input type="text" required class="form-control" id="nombre" name="nombre" />
        </div>
    </div>

    <div class="col" align="center">
        <div class="form-group">
            <label>Categoria del deporte</label>
            <input type="text" required class="form-control" id="categoria" name="categoria" />
        </div>
        <br />
    </div>

    <div class="col" align="center">
        <button type="submit" class="btn btn-primary" onclick="validarGuardado();">Guardar</button>

        <br />

    </div>

    <br />

</form>

