
@{
    ViewBag.Title = "newFormaPago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<h2>Bien venidos a la pagina de </h2>

<form action="/FormaPago/guardar" method="post">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <label>Nueva forma de pago&nbsp;</label>
            <button onclick="location.href = '@Url.Action("FromaPago","FormaPago")'; return false;" class="btn btn-success">&nbsp;Rregresar</button>
        </div>
    </div>

    <br />
    <div class="col" align="center">
        <div class="form-group">
            <label>Descripcion del pago</label>
            <input type="text" required class="form-control" id="descripcion" name="descripcion" />
        </div>
        <br />
    </div>


    <div class="col" align="center">
        <button type="submit" class="btn btn-primary" onclick="validarGuardado();">Guardar</button>
    </div>

</form>

<br />
